mat-card {
  height: 100%;
  margin: 1rem;

  mat-card-header {
    align-items: center;
    min-height: 100px;

    .example-header-image {
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
    }
  }

  .image-wrapper {
    max-height: 350px;

    img {
      max-height: 350px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  mat-card-actions {
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}
