<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ event.title }}</mat-card-title>
  </mat-card-header>
  <div class="image-wrapper">
    <img
      *ngIf="event.flyerFront"
      mat-card-image
      src="{{ event.flyerFront }}"
      alt="{{ event.title }}"
      loading="lazy"
    />
  </div>
  <div class="content-wrapper">
    <mat-card-content>
      <p>
        <a
          href="{{ event.venue.direction }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ event.venue.name }}</a
        >
      </p>
      <p>| Starts: {{ event.startTime | date : "dd.MM.YYYY HH:mm:ss" }}</p>
      <p>| Ends: {{ event.endTime | date : "dd.MM.YYYY HH:mm:ss" }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="addButton"
        mat-mini-fab
        matTooltip="Primary"
        color="primary"
        aria-label="Button with a plus icon"
        (click)="addEventToCart(event)"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        *ngIf="!addButton"
        mat-mini-fab
        matTooltip="Primary"
        color="primary"
        aria-label="Button with a plus icon"
        (click)="removeEventFromCart(event)"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
