<aside>
  <h2>Shopping Cart</h2>
  <div class="list">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
      (eventRemoved)="removeEventFromCart($event)"
      [addButton]="false"
    ></app-event-card>
  </div>
</aside>
