:host {
  aside {
    position: fixed;
    top: 3.5rem;
    right: 0;
    background-color: #3f51b5;
    padding: 1rem;
    overflow-y: scroll;
    height: 90vh;
    border-radius: 4px;
    z-index: 2;

    @media (min-width: 768px) {
      min-width: 30vw;
    }

    h2 {
      color: #fff;
    }

    .list {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
      }
    }
  }
}
