:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;

    .search input {
      color: #fff;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  main {
    margin-top: 6rem;

    .date {
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 1;
      color: #3f51b5;
      position: sticky;
      top: 56px;

      @media (min-width: 768px) {
        top: 64px;
      }
    }
  }
}
