<mat-toolbar color="primary">
  <mat-form-field class="search" subscriptSizing="dynamic" appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input
      (input)="updateEventSearchTerm($event)"
      type="search"
      matInput
      placeholder="Search..."
      name="search"
    />
  </mat-form-field>
  <br />
  <button mat-icon-button aria-label="Icon-button with filter icon">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <span class="spacer"></span>
  <button
    mat-icon-button
    aria-label="Icon-button with shopping cart icon"
    (click)="toggleSoppingCartVisibility()"
  >
    <mat-icon [matBadge]="cartEventCount" matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>

<main>
  <h1>Public Events</h1>

  <div *ngFor="let result of resultEvents">
    <section *ngIf="result.events.length > 0">
      <h2 class="date">
        {{ result.date | date : "EEE MMMM dd yyyy" }}
      </h2>

      <app-event-list
        [events]="result.events"
        (eventAdded)="addEventToCart($event)"
        [eventSearchTerm]="eventSearchTerm"
      ></app-event-list>
    </section>
  </div>
</main>
<app-shopping-cart
  [events]="cartEventList"
  [isOpen]="shoppingCartIsVisible"
  *ngIf="shoppingCartIsVisible"
  (eventRemoved)="removeEventFromCart($event)"
></app-shopping-cart>
